<body>
  <mat-card *ngIf="!signUp">
    <mat-progress-bar
    *ngIf="signUpLoading"
    mode="indeterminate"
  ></mat-progress-bar>
    <mat-card-header>
      <img class="my-32" src="./assets/logo/SIMPLE - CRM.png" />
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-form-field class="mx-16" appearance="outline">
      <mat-label>Enter your E-Mail</mat-label>
      <input
        type="email"
        #emailInput
        [formControl]="emailFormControl"
        matInput
        placeholder="Enter your E-Mail"
      />
      @if (emailFormControl.hasError('email') &&
      !emailFormControl.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (emailFormControl.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <div class="my-16"></div>
    <mat-form-field class="mx-16" appearance="outline">
      <mat-label>Confirm Password</mat-label>
      <input
        matInput
        #passwordInput
        [formControl]="passwordFormControl"
        [type]="hide ? 'password' : 'text'"
        placeholder="Confirm your password..."
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
      <mat-error
        *ngIf="
          passwordFormControl.invalid &&
          (passwordFormControl.dirty || passwordFormControl.touched)
        "
      >
        <span *ngIf="passwordFormControl.errors?.['required']"
          >Password is <strong>required</strong></span
        >
        <span *ngIf="passwordFormControl.errors?.['wrong']"
          >Incorrect password or email</span
        >
      </mat-error>
    </mat-form-field>
    <mat-card-actions>
      <button
        mat-button
        class="login-btn buttons"
        [disabled]="this.emailInput.value == ''|| this.passwordInput.value == ''"
        (click)="checkUser(emailInput.value, passwordInput.value)"
      >
        Login
      </button>
    </mat-card-actions>

    <div class="btn-pos">
      <button mat-button class="buttons" (click)="signUp = true; signUpLoading = false;">
        Sign up
      </button>
      <button mat-button class="buttons" (click)="loginGuest()">
        Guest Login
      </button>
    </div>
  </mat-card>

  <mat-card *ngIf="signUp">
    <mat-progress-bar
      *ngIf="signUpLoading"
      mode="indeterminate"
    ></mat-progress-bar>
    <mat-icon class="mat-18 back" (click)="signUp = false; signUpLoading = false;">arrow_back</mat-icon>
    <mat-card-header>
      <img class="my-32" src="./assets/logo/SIMPLE - CRM.png" />
      <mat-card-title>Sign up</mat-card-title>
    </mat-card-header>
    <mat-form-field class="mx-16" appearance="outline">
      <mat-label>Enter your Name</mat-label>
      <input
        matInput
        [disabled]="signUpLoading"
        [(ngModel)]="account.name"
        type="text"
        required
        replaceholder="Enter your Name"
      />
      @if (nameInput.hasError('required')) {
      <mat-error>Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <div class="my-16"></div>
    <mat-form-field class="mx-16" appearance="outline">
      <mat-label>Enter your E-Mail</mat-label>
      <input
        matInput
        [disabled]="signUpLoading"
        [(ngModel)]="account.email"
        type="email"
        required
        [formControl]="emailInput"
        placeholder="Enter your E-Mail"
      />@if (emailInput.hasError('email') && !emailInput.hasError('required')) {
      <mat-error>Please enter a valid email address</mat-error>
      } @if (emailInput.hasError('required')) {
      <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <div class="my-16"></div>
    <mat-form-field class="mx-16" appearance="outline">
      <mat-label>Enter your Password</mat-label>
      <input
        matInput
        [disabled]="signUpLoading"
        [(ngModel)]="account.pw"
        type="password"
        required
        placeholder="Enter your Password"
        [type]="hide ? 'password' : 'text'"
      />
      @if (passwordInput.hasError('required')) {
      <mat-error>Password is <strong>required</strong></mat-error>
      }

      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
      </button>
    </mat-form-field>

    <mat-card-actions>
      <button
        mat-button
        [disabled]="
          signUpLoading ||
          this.account.name == '' ||
          this.account.email == '' ||
          this.account.pw == ''
        "
        (click)="signIn()"
      >
        Sign Up
      </button>
    </mat-card-actions>
  </mat-card>
</body>
