.user-detail-header {
    min-height: 250px;
    background-color: darkblue;
    color: white;
    display: flex;
    align-items: flex-end;
    flex-direction: row;
    padding: 24px;
    position: relative;

    button {
        position: absolute;
        right: 0;
        top: 0;
    }

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 50%;
    }
}

.user-detail-content {
    position: relative;

    button {
        position: absolute;
        right: 0;
        top: 0;
    }
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100px;

    h2 {
        margin-bottom: 0;
    }
}

.user-detail-content {
    margin-top: 32px;
}