<mat-card class="card">
  <table class="user-table">
    <tr>
      <th (click)="sortByProperty('firstName')">
        <div class="table-title">
          Name
          <mat-icon > swap_vert </mat-icon>
        </div>
      </th>
      <th (click)="sortByProperty('email')" class="email-responsive">
        <div class="table-title">
          E-Mail
          <mat-icon > swap_vert </mat-icon>
        </div>
      </th>
      <th (click)="sortByProperty('city')" class="city-responsive">
        <div class="table-title">
          City
          <mat-icon > swap_vert </mat-icon>
        </div>
      </th>
      <th (click)="sortByProperty('phone')" class="phone-responsive">
        <div class="table-title">
          Phone
          <mat-icon > swap_vert </mat-icon>
        </div>
      </th>
    </tr>
    <tr *ngFor="let user of getAllUsers()" (click)="goToUser(user.id)">
      <td>{{ user.firstName }} {{ user.lastName }}</td>
      <td class="email-responsive">{{ user.email }}</td>
      <td class="city-responsive">{{ user.city }}</td>
      <td class="phone-responsive">{{ user.phone }}</td>
    </tr>
  </table>
</mat-card>
<button
  (click)="openDialog()"
  class="add-user-btn"
  mat-fab
  color="primary"
  matTooltip="Add user"
  [matTooltipPosition]="'above'"
>
  <mat-icon>add</mat-icon>
</button>
