body {
  background-color: #eff4f7;
  color: #777;
  font-family: "Titillium Web", Arial, Helvetica, sans-serif;
}

.greeting-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  z-index: 50;
  background-color: white;
  animation: greeting 3s;
  animation-fill-mode: forwards;
}

.title {
  width: auto;
  margin-left: 50%;
  margin-right: 50%;
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.welcome,
.greeting {
  font-size: 80px;
  line-height: 80px;
  font-weight: 800;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

.box {
  box-shadow: 0px 1px 22px -12px #607d8b;
  background-color: #fff;
  padding: 24px;
}

.monthly-earnings-text {
  position: absolute;
  left: 70px;
  top: 187px;
  color: #fff;
  z-index: 10;
}

@media screen and (max-width: 760px) {
  .monthly-earnings-text {
    left: 30px;
  }
}

.chartboxes,
.sparkboxes {
  display: flex;
  flex-direction: row;
  gap: 24px;
  margin-bottom: 24px;
}

.half {
  width: 50%;
}

.one-third {
  width: 33%;
}

.content-area {
  max-width: 1070px;
  margin: 0 auto;
  position: relative;
}

@media (max-width: 1230px) {
  .half {
    width: unset;
  }

  .chartboxes {
    flex-direction: column;
  }
}

@media (max-width: 1024px) {
  .one-third {
    width: unset;
  }

  .sparkboxes {
    flex-direction: column;
  }

  .welcome,
  .greeting {
    font-size: 40px;
    line-height: 40px;
    font-weight: 800;
  }
  .name{
    font-size: 48px;
    line-height: 56px;
    font-weight: 800;
  }
}

@keyframes greeting {
  0% {
    opacity: 1;
    display: block;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    display: none;
  }
}
