<div class="content-area">
  <div class="sparkboxes">
    <div class="box one-third">
      <div id="spark1"></div>
    </div>
    <div class="box one-third">
      <div id="spark2"></div>
    </div>
    <div class="box one-third">
      <div id="spark3"></div>
    </div>
  </div>

  <div class="chartboxes">
    <div class="box half">
      <div id="bar"></div>
    </div>
    <div class="box half">
      <div id="donut"></div>
    </div>
  </div>

  <div class="chartboxes">
    <div class="box half">
      <div id="area"></div>
    </div>
    <div class="box half">
      <div id="line"></div>
    </div>
  </div>
</div>
